---
title: A beautifully stroked rainbow
permalink: "/rainbow.svg"
colors: ['red', 'orange', 'yellow', 'limegreen', 'blue', 'rebeccapurple', 'deeppink']
backgroundColor: darkblue
---
svg(viewBox="0 0 160 160", xmlns="http://www.w3.org/2000/svg")
  title= title
  defs
    filter#glow
      feGaussianBlur(stdDeviation="2.5", result="coloredBlur")
      feMerge
        feMergeNode(in="coloredBlur")
        feMergeNode(in="SourceGraphic")
  rect(fill=background, width=160, height=160)
  each val in Array(colors.length).fill(0).map((_, i) => i)
    - stripeThickness = 4;
    - stripeMargin = 4;
    - startPosition = 12 + val * (stripeThickness + stripeMargin);
    - outerWidth = 136 - val * 2 * (stripeThickness + stripeMargin);
    - innerWidth = outerWidth - 2 * stripeThickness;
    - outerHeight = 76 - val * (stripeThickness + stripeMargin);
    - innerHeight = outerHeight - stripeThickness;
    path(d=`M${startPosition},100 c0,${-outerHeight} ${outerWidth},${-outerHeight} ${outerWidth},0 
            l-${stripeThickness},0 
            c0,${-innerHeight} ${-innerWidth},${-innerHeight} ${-innerWidth},0Z`, stroke=colors[val], fill="none" filter="url(#glow)")
  